<div>
    <h1>Heyy <%= password.user.name %> u want to change your password </h1>
    <p>Then click on this link</p>
        <a href="http://localhost:8000/users/changePassword/<%= password.accessToken %>">forgot_password/:access_token=<%= password.accessToken %></a>
    
</div>