<footer>
    <div id="footer">
        <p>Coding Ninjas. All Rights reserved
            <div id="list">
                <a href="/">Home</a>
                <a href="/users/profile">Profile</a>
            </div>

        </p>
    </div>
</footer>