<form action="/users/changePassword/<%= password.accessToken %>" method="POST">
    <% if(password.isValid){ %>
        <p>
            Enter New password for this email <%= user.email %>
        </p>
        <input type="password" name="password" placeholder="Enter new Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <input type="submit" value="Change password">
    <% }else{ %>
        <h1>Your Token has expired</h1>
    <% } %>

</form>