<!-- <html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>

    <body>
        <%-include('_header'); %> -->
        <link rel="stylesheet" href="/css/users.css">

        <h1>Sign Up page</h1>
        <form action="">
            <input type="text" placeholder="Enter User name">
            <input type="text" placeholder="Enter email">
            <input type="password" placeholder="Enter Password">

            <button type="submit">
                Add user
            </button>
        </form>

        <!-- <%-include('_footer'); %>
    </body>
</html> -->